<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
      <div class="field">
        <%= form.label :name %>
        <div class="text-field">
          <%= form.text_field :name, id: :product_name %>
        </div><!-- /.text-field -->
      </div><!-- /.field -->
    </div><!-- /. form-group -->

    <div class="form-group">
      <div class="field" id="description">
        <%= form.label :description %>
        <div class="text-field">
          <%= form.text_area :description, id: :product_description %>
        </div><!-- /.text-field -->
      </div><!-- /.field #description -->
    </div><!-- /.form-group -->
    <div class="form-group">
      <div class="field" id="colour">
        <%= form.label :colour %>
        <div class="text-field">
          <%= form.text_field :colour %>
        </div><!-- /.text-field -->
      </div><!-- /.field #colour -->
    </div><!-- /.form-group -->
    <div class="form-group">
      <div class="field" id="price">
        <%= form.label :price %>
        <div class="text-field">
          <%= form.text_field :price %>
        </div><!-- /.text-field -->
      </div><!-- /.field #price -->
    </div><!-- /.form-group -->
    <div class="form-group">
      <div class="field" id="image-url">
        <%= form.label :image_url %>
        <div class="text-field">
          <%= form.text_field :image_url, id: :product_image_url %>
        </div><!-- /.text-field -->
      </div><!-- /.field #image-url -->
    </div><!-- /.form-group -->
    <div class="form-group">
      <div class="actions">
        <%= form.submit %>
      </div><!-- /.form-group -->
    </div><!-- /.actions -->
  </form><!-- /.form -->
<% end %>
