<div class="index-content">
  <div class="container product-container">
  <div class="row product-show-row1" data-product-id="<%= @product.id %>">

    <div class="col-sm-12 col-md-6 left-column">
      <%= image_tag(@product.image_url, class: "img-fluid img-zoom img-show cover", data_zoom_image:@product.image_url) if @product.image_url%>
    </div><!-- /.col-sm-12 .col-md-6 .left-column -->

    <div class="col-sm-12 col-md-6 right-column product-right-column">
      <h3 class="productname-show">
        <%= @product.name %>
      </h3>
      <p class="product-gallery-decription">
        <%= @product.description %>
      </p>
      <p class="text-bold">Overview</p>
      <p class="product-gallery-decription">
        Color: <%= @product.colour %>
      </p>
      <p class="product-galleryprice-tag">
        <%= number_to_currency(@product.price, :unit => "$") %>
      </p>
      <div class="star-rating">
        <p>Average Rating<div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div></p>
      </div><!-- /#average-rating -->
        <% if !@product.highest_rating_comment.nil? %>
        <%= @product.highest_rating_comment.body %>
        <% end %>
      </div><!-- /.product-show-row -->
      <div class="row product-show-row2">
        <div class="col-md-12">
          <%= link_to 'Edit', edit_product_path(@product) %> |
          <%= link_to 'Back', products_path %>

          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
            <div id="comment-margins">
              <%= render 'new_comment' %>
            </div><!-- /#comment-margins -->
          </div><!-- /.star-rating -->
        </div><!-- /.col-md-12 -->
        <div class="col-lg-12 product-comments">
          <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div><!-- /. alert -->
          <%= render 'comments' %>
      <!-- </div> -->
          <%= will_paginate @comments %>
        </div><!--/.col-lg-12 product-comments -->

    </div><!-- /.row -->
  </div><!-- /.container product-container -->
</div><!-- /.index-content-->
