<!DOCTYPE html>
<html>
  <head>
    <title>NewBikeApp</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button><!-- /.navbar-toggler navbar-toggler-tight -->
      <a class="navbar-brand" href="#">
        <h4>Bike Berlin</h4>
      </a><!-- /.navbar-brand -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <!-- <li><%#= link_to "Home", root_path %></li> -->
          <li class="nav-item active"><%= link_to "About", simple_pages_about_path %></li>
          <li class="nav-item"><%= link_to "Contact", simple_pages_contact_path %></li>
          <li>
            <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
              <%= form.label :q, 'Search for:' %>
              <%= form.text_field :q, id: 'q', value: params[:q] %>
              <%= form.submit 'Search' %>
            <% end %>
          </li>
        </ul><!-- /.navbar-nav mr-auto -->
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path, class: "nav-link") %>
          </li>
          <% end %>
        </ul><!-- /.navbar-nav ml-auto -->
      </div><!-- /.collapse navbar-collapse -->
    </nav><!-- /.navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse -->
    <% if notice %>
      <p id="notice" class="alert alert-primary" role="alert"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" class="alert alert-secondary" role="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

    <footer class="fixed-bottom">
      <p>&copy; 2018 Bike Berlin</p>
    </footer>
  </body>
</html>
